body {
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    display: flex;
    gap: 16px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}